/**this file will contain all the extensions**/

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Hair.eot');
    src: local('Fira Sans Hair'),
         url('fonts/FiraSans-Hair.eot') format('embedded-opentype'),
         url('fonts/FiraSans-Hair.woff') format('woff'),
         url('fonts/FiraSans-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-HairItalic.eot');
    src: local('Fira Sans Hair Italic'),
         url('fonts/FiraSans-HairItalic.eot') format('embedded-opentype'),
         url('fonts/FiraSans-HairItalic.woff') format('woff'),
         url('fonts/FiraSans-HairItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-UltraLight.eot');
    src: local('Fira Sans UltraLight'),
         url('fonts/FiraSans-UltraLight.eot') format('embedded-opentype'),
         url('fonts/FiraSans-UltraLight.woff') format('woff'),
         url('fonts/FiraSans-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-UltraLightItalic.eot');
    src: local('Fira Sans UltraLight Italic'),
         url('fonts/FiraSans-UltraLightItalic.eot') format('embedded-opentype'),
         url('fonts/FiraSans-UltraLightItalic.woff') format('woff'),
         url('fonts/FiraSans-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('fonts/FiraSans-Light.eot') format('embedded-opentype'),
         url('fonts/FiraSans-Light.woff') format('woff'),
         url('fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-LightItalic.eot');
    src: local('Fira Sans Light Italic'),
         url('fonts/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('fonts/FiraSans-LightItalic.woff') format('woff'),
         url('fonts/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('fonts/FiraSans-Regular.eot') format('embedded-opentype'),
         url('fonts/FiraSans-Regular.woff') format('woff'),
         url('fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-RegularItalic.eot');
    src: local('Fira Sans Regular Italic'),
         url('fonts/FiraSans-RegularItalic.eot') format('embedded-opentype'),
         url('fonts/FiraSans-RegularItalic.woff') format('woff'),
         url('fonts/FiraSans-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'),
         url('fonts/FiraSans-Medium.eot') format('embedded-opentype'),
         url('fonts/FiraSans-Medium.woff') format('woff'),
         url('fonts/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-MediumItalic.eot');
    src: local('Fira Sans Medium Italic'),
         url('fonts/FiraSans-MediumItalic.eot') format('embedded-opentype'),
         url('fonts/FiraSans-MediumItalic.woff') format('woff'),
         url('fonts/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-SemiBold.eot');
    src: local('Fira Sans SemiBold'),
         url('fonts/FiraSans-SemiBold.eot') format('embedded-opentype'),
         url('fonts/FiraSans-SemiBold.woff') format('woff'),
         url('fonts/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-SemiBoldItalic.eot');
    src: local('Fira Sans SemiBold Italic'),
         url('fonts/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'),
         url('fonts/FiraSans-SemiBoldItalic.woff') format('woff'),
         url('fonts/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'),
         url('fonts/FiraSans-Bold.eot') format('embedded-opentype'),
         url('fonts/FiraSans-Bold.woff') format('woff'),
         url('fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-BoldItalic.eot');
    src: local('Fira Sans Bold Italic'),
         url('fonts/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('fonts/FiraSans-BoldItalic.woff') format('woff'),
         url('fonts/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-ExtraBold.eot');
    src: local('Fira Sans ExtraBold'),
         url('fonts/FiraSans-ExtraBold.eot') format('embedded-opentype'),
         url('fonts/FiraSans-ExtraBold.woff') format('woff'),
         url('fonts/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-ExtraBoldItalic.eot');
    src: local('Fira Sans ExtraBold Italic'),
         url('fonts/FiraSans-ExtraBoldItalic.eot') format('embedded-opentype'),
         url('fonts/FiraSans-ExtraBoldItalic.woff') format('woff'),
         url('fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Heavy.eot');
    src: local('Fira Sans Heavy'),
         url('fonts/FiraSans-Heavy.eot') format('embedded-opentype'),
         url('fonts/FiraSans-Heavy.woff') format('woff'),
         url('fonts/FiraSans-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-HeavyItalic.eot');
    src: local('Fira Sans Heavy Italic'),
         url('fonts/FiraSans-HeavyItalic.eot') format('embedded-opentype'),
         url('fonts/FiraSans-HeavyItalic.woff') format('woff'),
         url('fonts/FiraSans-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

/**
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
**/
body {
    font-family: 'Fira Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight:300;
}
.col-1,.col-2{
    font-weight:400;
    margin-bottom:40px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

    font-family: 'Fira Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:400;
}


.flexible-container,.div_google_map ,.div_you_tube{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,.div_google_map iframe, .div_you_tube iframe,
.flexible-container object,.div_google_map object,  .div_you_tube object,
.flexible-container embed ,.div_google_map embed, .div_you_tube embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#omsBannerDiv{margin-bottom:40px;}

#insert_content{width:495px !important;}
#insert_content .add_content_block {height:112px !important}
.sidebar-btn{display:none}
@media (max-width: 767px) {
  #Cart,.sidebar-btn, .sidebar_block.sidebar-show,#omsBannerDiv{display:block !important;}
  .sidebar_block,.sidebar-hide{
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #Cart,.sidebar-btn, .sidebar_block.sidebar-show,#omsBannerDiv{display:block !important;}
  .sidebar_block,.sidebar-hide {
    display: none !important;
  }
}


/*stile*/

.container  {
	background-image:url("bg.png");
	background-position:top left;
	background-repeat:repeat-x;
}


/*menu*/
.navbar {
	margin-bottom:0px;
	position:fixed;
	width:100%;
	background-color:#fff;
	z-index:100000;
	box-shadow:0px 0px 2px rgba(51,51,51,0.25);
}

.navbar-default {
	border:none;
	border-radius:0px;
}

.navbar-nav {
	text-transform:uppercase;
	font-size:16px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:transparent;
	color:#f13d49;
	font-weight:700;
}

.navbar-default .navbar-nav .png a:hover {
	color:#f13d49;
}


/*immagine e titolo sito*/
.container .jumbotron {
	background-size:cover;
	border-radius:0px;
	padding:0px;
	height:300px;
	background-color:#f13d49;
	margin-top:50px;
}

.company-data {
	padding:60px 20px;
	height:300px;
	text-align:center;
}

.title-jumbo {
	display:block;
	word-wrap:break-word;
}

.title-jumbo a {
	font-size:40px;
	font-family: 'Fira Sans', sans-serif;
	font-weight:400;
	color:#fff;
	text-transform:uppercase;
	line-height:1.5em;
}

.title-jumbo a:hover {
	text-decoration:none;
}

.jumbotron p {
	margin-bottom:0px !important;
	color:#fff;
}

.logo-img a img {
	max-height:80px;
}

/*overlay per top-image*/
.top-image-1 .company-data {
	background:rgba(0,0,0,0.25);
	text-shadow:1px 1px 0px rgba(51,51,51,0.25)
}


/*posizione logo*/
.company-data.logo-0, .company-data.logo-1, .company-data.logo-2 {
	padding:90px 20px;
}

.company-data.logo-3 {
	text-align:left;
	padding-left:60px;
}

.company-data.logo-4 {
	text-align:right;
	padding-right:60px;
}


/*submenu*/
#menu_2 {
}


/*breadcrumbs*/
.breadcrumb {
	position:relative;
	border-radius:0px;
	color:#bbbbbb;
	font-size:14px;
	background-color:#fafafa;
	margin-bottom:30px;
}

.breadcrumb > li + li:before {
	font-size:14px;
}

.breadcrumb a {
	color:#bbbbbb;
}

.breadcrumb .active {
	color:#333;
	font-size:24px;
}


/*titoli*/
h1 {
	display:none;
}

.h2_ttil {
	font-size:36px;
	line-height:34px;
	color:#333;
	margin-bottom:40px;
	margin-top:0px;
	word-wrap:break-word;
}


/*contenuti*/
.div_central {
	margin-bottom:60px;
	overflow:hidden;
}

.div_central .abstract {
	overflow:hidden;
}

ul {
	list-style:circle outside;
}


/*galleria immagini*/
.div_gallery a.gallery-image-wrapper {
    background-color: transparent;
	border:none;
    float: left;
    margin: 3px;
    padding: 0px;
}


/*allegato*/
.div_ttdl a {
	background-repeat: no-repeat;
	background-color: #f1f1f1;
    border-radius: 4px;
    box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.3);
    color: #333333;
    float: left;
    font-size: 16px;
    line-height: 40px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
	word-break:break-all;
}

.div_ttdl a:hover {
	background-color: #f1645f;
    border-radius: 4px;
    box-shadow: inset 0 -2px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    float: left;
    font-size: 16px;
    line-height: 40px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.div_ttdl a img {
	display:none;
}


/*form*/
input, textarea {
	width:90%;
	min-height:30px;
	border:1px solid #ccc;
	border-radius:2px;
}

.input_label {
	margin:5px 0px 6px;
}

.form_privacy {
	overflow:hidden;
}

.form_privacy input, .form_privacy p {
	float:left;
}

.form_privacy p {
	width:90%;
	padding:8px;
	font-size:10px;
	line-height:12px;
}

#invia {
	border:none;
	background-color:#f1645f;
	color:#ffffff;
	box-shadow:inset 0 -2px 0px #d24847;
	padding:5px 30px;
	border-radius:4px;
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	float:right;
	margin-right:10%;
	margin-bottom:40px;
}

#invia:hover, #invia:active {
	background-color:#ff7f77;
}


/*form sendminer*/
form table {
	width:100%;
}

form table td input {
	margin-bottom:10px;
}

form table td .scf_button {
	background-color: rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    opacity: 0.5;
    text-align: right;
    text-transform: uppercase;
}

form table td .scf_button:hover {
	opacity:1;
}

form table .scf_label .scf_button {
	width:auto;
	float:right;
	margin-right:10%;
	background-color:#f1645f;
	color:#ffffff;
	opacity:1;
	box-shadow:inset 0 -2px 0px #d24847;
	padding:0px 30px;
	font-weight:700;
	border-radius:4px;
}

form table .scf_label .scf_button:hover, form table .scf_label .scf_button:active {
	background-color:#ff7f77;
}


/*footer*/
.container .footer-row {
	background-color:#2a2a2a;
	padding-top:50px;
	padding-bottom:40px;
	color:#fff;
}

.container .footer-row a {
	color:#fff;
}


/*stili responsive*/
@media (max-width: 767px) {
.logo-img a img {
	max-width:240px;
}

.company-data.logo-3 {
	padding-left:20px;
	text-align:center;
}

.company-data.logo-4 {
	padding-right:20px;
	text-align:center;
}

.breadcrumb {
	display:none;
}

.col-sm-9 {
	padding-top:30px;
}
}
@media (min-width: 768px) {
.container .container-fluid, .container .row {
    width: 750px;
	margin-left: auto;
	margin-right:auto;
}

.container .footer-row {
	width:100%;
}

.container {
    width: 100%;
}

.omsfloat-25 {
	float: left;
    margin: 0 2% 60px;
    width: 46%;
}

.omsfloat-25 .h2_ttil {
	font-size:30px;
}

.omsfloat-75 {
	float: left;
    margin: 0 2% 60px;
    width: 46%;
}

.omsfloat-75 .h2_ttil {
	font-size:30px;
}

.omsfloat-33 {
	float: left;
    margin: 0 2% 60px;
    width: 29%;
}

.omsfloat-33 .h2_ttil {
	font-size:30px;
}

.omsfloat-50 {
	float: left;
    margin: 0 2% 60px;
    width: 46%;
}
}
@media (min-width: 992px) {
.container .container-fluid, .container .row {
    width: 970px;
	margin-left: auto;
	margin-right:auto;
}

.container .footer-row {
	width:100%;
}

.container {
    width: 100%;
}

.omsfloat-25 {
	float: left;
    margin: 0 2% 60px;
    width: 21%;
}

.omsfloat-25 .h2_ttil {
	font-size:32px;
}

.omsfloat-75 {
	float: left;
    margin: 0 1% 60px 1%;
    width: 73%;
}

.omsfloat-75 .h2_ttil {
	font-size:32px;
}

.omsfloat-33 {
	float: left;
    margin: 0 2% 60px;
    width: 29%;
}

.omsfloat-33 .h2_ttil {
	font-size:32px;
}

.omsfloat-50 {
	float: left;
    margin: 0 2% 60px;
    width: 46%;
}

.omsfloat-50 .h2_ttil {
	font-size:32px;
}
}
@media (min-width: 1200px) {
.container .container-fluid, .container .row {
    width: 1170px;
	margin-left: auto;
	margin-right:auto;
}

.container .footer-row {
	width:100%;
}

.container {
    width: 100%;
}

.omsfloat-33 .h2_ttil {
	font-size:36px;
}

.omsfloat-50 .h2_ttil {
	font-size:36px;
}

.omsfloat-25 .h2_ttil {
	font-size:36px;
}

.omsfloat-75 .h2_ttil {
	font-size:36px;
}
}


/*larghezza righe*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}


/*responsive style google map e video*/
.div_you_tube .object_content, .div_google_map .object_content {
    position: relative;
    padding-bottom: 56.25%;
	height: 0; overflow: hidden;
}
 
.div_you_tube .object_content iframe,
.div_you_tube .object_content object,
.div_you_tube .object_content embed, .div_google_map .object_content iframe, .div_google_map .object_content object,
.div_google_map .object_content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*ecommerce*/
#Cart {
    background-color: transparent;
    border: 1px solid #e1e1e1;
    color: #333;
}

#Cart,.product-catalog-view-grid .product-item,.product-catalog-view-list .product-item {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.product-catalog-view-grid .product-item{width:30.5%}


@media (max-width: 767px) {
    .product-catalog-view-grid .product-item{width:100%}
}
@media (min-width: 768px) and (max-width: 991px) {
    .product-catalog-view-grid .product-item{width:48%}
}

/*ecommerce responsive*/
@media (max-width: 991px) {
    .product-catalog-view-grid .product-item .product-price {line-height: 25px;min-height: 25px;}
    .product-catalog-view-grid .product-item .product-add-to-cart {float: none;width: 100%;text-align: center;}
    .product-catalog-view-grid .product-item .product-name{margin-bottom:5px}

    .product-catalog-view-list .product-item .product_info{clear:both}
    .product-catalog-view-list .product-item .product-image{float:none; clear:both; }

    .product-catalog-view-list .product-item .product-name,
    .product-catalog-view-list .product-item .product-image{text-align:center}

    .product-catalog-view-list .product-item .product-add-to-cart,
    .product-catalog-view-list .product-item .product_price{width:auto}

    .product-catalog-view-list .product-item .product-image a img {display:inline}
    .product-catalog-view-list .product-item .product-add-to-cart a{float:none}

    .product-catalog-view-list .product-item .product-price,
    .product-catalog-view-list .product-item .product-quantity{width:100%; clear:both;padding:0px;text-align:center}

    .product-catalog-view-list .product-item .product-add-to-cart{float:none}

}
